[package]
name = "rustypub"
version = "0.1.0"
edition = "2021"
default-run = "server"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


# rustup override set nightly

[dependencies]
activitystreams = "0.7.0-alpha.24"
activitystreams-ext = "0.1.0-alpha.3"
native-tls = { version = "~0.2.11", features = ["vendored"] }
openssl = { version = "~0.10.48", features = ["vendored"] }
openssl-sys = "~0.9.78"
dotenvy = "0.15"
rocket = { version = "0.5.0-rc.2", features = ["json", "secrets"] }
sqlx = { version = "~0.6.2", features = ["chrono", "macros", "migrate", "offline", "postgres", "sqlite", "runtime-tokio-rustls"] }
serde = {version = "~1.0", features = ["derive"] }
rand = { version = "0.8.5" }
feed-rs = "1.2"
reqwest = { version = "0.11", features = ["json"] }
http-signature-normalization-reqwest = { version = "0.8.0", default-features = false, features = ["sha-2", "middleware"] }

tokio = "1.24.2"
webfinger = { version = "0.5.1", features = ["async", "async-trait"] }
async-trait = {version = "*"}
serde_json = "1.0.89"
anyhow = "1.0.66"
reqwest-middleware = "0.2.0"
httpdate = "1.0.2"
url = "2.3.1"
sha2 = "0.10.6"
base64 = "0.21.0"
chrono = { version = "0.4.23", features = ["serde"] }
scraper = "0.15.0"
sanitize_html = "0.7.0"
reqwest-retry = "0.2.1"
md-5 = "0.10.5"

fang = { version = "0.10" , features = ["asynk"], default-features = false }
env_logger = "0.10.0"
log = "0.4.17"
sentry = { version = "0.30.0", features = ["anyhow"] }
clap = { version = "4.1.8", features = ["derive"] }
glob = "0.3.1"

# https://cosmichorror.dev/posts/speeding-up-sqlx-compile-times/
[profile.dev.package.sqlx-macros]
opt-level = 3

[dependencies.rocket_dyn_templates]
rocket_dyn_templates = "0.1.0-rc.2"
features = ["tera"]

[dependencies.uuid]
version = "1.2.2"
features = [
    "v4",                # Lets you generate random UUIDs
    "fast-rng",          # Use a faster (but still sufficiently random) RNG
    "macro-diagnostics", # Enable better diagnostics for compile-time UUIDs
]

[dev-dependencies]
native-tls = { version = "~0.2.11", features = ["vendored"] }
openssl = { version = "~0.10.48", features = ["vendored"] }
openssl-sys = "~0.9.78"
mockito = "1.0.0"

[build-dependencies]
native-tls = { version = "~0.2.11", features = ["vendored"] }
openssl = { version = "~0.10.48", features = ["vendored"] }
openssl-sys = "~0.9.78"
