body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; 
  margin: 0px;
  min-height: 100vh;
}

body > header, body > footer {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALklEQVQoU2NkIAIwEqGGgZAiYwYGhrOEFIEtIlsR2Apkt5JtEoaHYSZhWIGsEgB+QQMKUesOpwAAAABJRU5ErkJggg==) repeat;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  padding: 1.0em 2.0em;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > .user-info {
  margin-right: 10px;
}

body > header {
  padding-left: 5px;
  margin-bottom: 10px;
}

header > img {
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
}

body > footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 3.0em;
  text-align: center;
  align-items: center;
  padding-bottom: 0px;
  margin-top: 70px;
}

main {
  min-height: 85vh;
  max-width: 50em;
  line-height: 1.5em;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding-top: .5em;
  padding-right: .5em;
}

.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
  font-weight: bold;
}

.form-row > .input {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.help {
  font-size: 90%;
}

main > header.feed {
  display: flex;
}

main > header.feed > * {
  margin-right: 10px;
}

main > * {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

main > .feed-welcome {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1.0em;
  background: lightgreen;
  display: flex;
  flex-direction: column;
}

main > .feed-welcome > * {
  padding: 1.0em;
}
main > .feed-welcome > a {
  text-align: right;
}

section > ul {
  list-style-type: none;
  padding-left: 0px;
}

.copy-block {
  display: flex;
}
.copy-block > textarea {
  width: 20rem;
}
.copy-block > * {
  padding-left: 5px;
  padding-right: 5px;
}
.copy-block > a {
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.copy-block > small.hidden {
  visibility: hidden;
}

dialog {
  position: fixed;
  top: 40%;
}

/* iOS is fun */
/* https://css-tricks.com/overriding-default-button-styles/ */
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}


button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

/* Maximum width */
@media (max-width: 50rem) {
  header > img {
    display: none;
  }

  .form-row {
    display: block;
  }
  .form-row > label {
    padding-top: 0;
  }
  
  .form-row > .input {
    display: flex;
    flex-direction: column;
    flex: 4;
  }

  .copy-block {
    display: flex;
  }
  .copy-block > textarea {
    max-width: calc(100vw - 75px);
  }
  .copy-block > * {
    padding-left: 5px;
    padding-right: 5px;
  }
  .copy-block > a {
    display: inline-block;
    width: 20px;
    cursor: pointer;
  }
  .copy-block > small.hidden {
    display: none;
    visibility: hidden;
  }
   
}
