body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; 
  margin: 0px;
  min-height: 100vh;
}

body > header, body > footer {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALklEQVQoU2NkIAIwEqGGgZAiYwYGhrOEFIEtIlsR2Apkt5JtEoaHYSZhWIGsEgB+QQMKUesOpwAAAABJRU5ErkJggg==) repeat;
  padding-top: 10px;
  padding-bottom: 10px;
}

body > header {
  padding-left: 5px;
  margin-bottom: 10px;
}

header > img {
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
}

body > footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 3.0em;
  text-align: center;
  align-items: center;
  padding-bottom: 0px;
  margin-top: 70px;
}

main {
  padding-left: 1.0em;
  min-height: 85vh;
  max-width: 50em;
  line-height: 1.5em;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

/* .form-row > .input {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
} */

.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

.form-row > .input {
  display: flex;
  flex-direction: column;
  flex: 4;
}

main > header.feed {
  display: flex;
}

main > header.feed > * {
  margin-right: 10px;
}

section > ul {
  list-style-type: none;
  padding-left: 0px;
}