<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="description" content="A service to load RSS feeds into the Fediverse" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
    {% block meta %}{% endblock meta %}
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        {% if logged_in %}
        <div class="user-info">
          {% if username %}<span>Logged in as {{username}}</span> ||{% endif %} <a href="/user/logout">Logout</a>
        </div>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
    <footer>
      <p>A project of <a href="https://botsin.space/@muffinista">https://botsin.space/@muffinista</a></p>
    </footer>
    <script src="/assets/script.js"></script>
  </body>
</html>