<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="icon" type="image/png" href="/assets/icon.png">
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
    {% block meta %}{% endblock meta %}
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        {% if logged_in %}
        <div class="user-info">
          {% if username %}<span>Logged in as {{username}}</span> ||{% endif %} <a href="/user/logout">Logout</a>
        </div>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
    <footer>
      <p>
        A project of <a href="https://muffin.industries/@colin">@colin@muffin.industries</a>. The <a href="https://github.com/muffinista/rust-rss-to-fedi/">source code</a> is available. Please report any <a href="https://github.com/muffinista/rust-rss-to-fedi/issues">bugs or issues</a>!
      </p>
    </footer>
    <script src="/assets/script.js"></script>
  </body>
</html>
