<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>{% block title %}{% endblock title %} - My Webpage</title>
    {% endblock head %}
  </head>
  <body>
    <header>
      <nav><a href="/">Home</a></nav>
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
    <footer>
      {% block footer %}
      &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
      {% endblock footer %}
    </footer>
    <script src="/assets/script.js"></script>
  </body>
</html>