{% extends "default" %}
{% block title %}{{ instance_domain }}{% endblock title %}
{% block meta %}<meta name="description" content="A service to load RSS feeds into the Fediverse" />{% endblock meta %}


{% block content %}
  {% if logged_in %}
    <section class="feeds">
      <h1>Your feeds</h1>
      {% include "feeds" %}
    </section>
  
    {% include "add-feed" %}
  {% else %}
    {% include "help" %}
  {% endif %}
  
{% endblock content %}
