{% extends "default" %}
{% block title %}Index{% endblock title %}

{% block content %}
  <h1>Index</h1>
  <p class="important">
    Welcome to my awesome homepage.
  </p>

  {% if logged_in %}
    {% for feed in feeds %}
      {{loop.index}}. {{feed.url}} <a href="/feed/{{feed.id}}/delete">delete</a>
    {% endfor %}
    {% include "add-feed" %}
  {% else %}
    {% include "login" %}
  {% endif %}
  
{% endblock content %}
