{% extends "default.html.tera" %}

{% block title %}{{ instance_domain }}{% endblock title %}
{% block meta %}<meta name="description" content="A service to load RSS feeds into the Fediverse" />{% endblock meta %}


{% block content %}
  {% if logged_in %}
    <section class="feeds">
      <h1>Your feeds</h1>
      {% include "feeds.html.tera" %}
    </section>
  
    {% include "add-feed.html.tera" %}
  {% else %}
    {% include "help.html.tera" %}
  {% endif %}
  
{% endblock content %}
