{% if link %}<a href="{{ link }}">{{ title }}</a>
{% else %}{{ title }}
{% endif %}
<p>{{ body }}</p>

{% if hashtag %}<a href="{{ hashtag_link }}" class="mention hashtag" rel="tag">#<span>{{ hashtag }}</span></a>{% endif %}