{%- if link -%}<a href="{{ link }}">{{ title }}</a>
{%- else -%}{{ title }}
{%- endif -%}<br />

<p>{{ body | safe }}</p>
{%- if hashtag -%}<p><a href="{{ hashtag_link }}" class="mention hashtag" rel="tag">#{{ hashtag }}</a></p>{%- endif -%}
